{% extends 'base.html'%}

{% block content %}
<style>
    .form-column label {
        display: block;
        margin-bottom: 5px;
    }

    .form-column input {
        width: 50%;
        padding: 8px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }
</style>
<h1>Регистрация нового сотрудника</h1>
<form method="post">
    <div class="form-group">
        <label for="name">Имя</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="text" class="form-control" id="password" name="password">
    </div>
    <button class="btn btn-primary rounded-pill px-3" type="submit">Создать</button>
</form>
{% endblock%}