{% extends 'base.html' %}

{% block content %}

    <style>
        table, th, td {
            border: 1px solid;
        }

        #block_container {
            border: 1px solid black;
            margin: 1rem;
            padding: 2rem 2rem;
        }

        #block {
            padding: 1rem 1rem;
            vertical-align: middle;
        }

        #message {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-top: 1%;
            padding-left: 1%;

        }
    </style>
    <div>
        <div id="block_container">
            <div id="block">
                <h1>Тикет №{{ ticket.id }} ({% if ticket.is_open %}Открыт{% else %}Закрыт{% endif %})</h1>
                <p><b>Тема:</b> {{ ticket.title }}</p>
                <p><b>Клиент:</b> {{ ticket.user.email }}</p>
                <p><b>Создано:</b> {{ ticket.created }}</p>
            </div>
            <div id="block"
                 style="height:60vh;width:100%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                {% for message in messages %}
                    <div id="message">
                        <a>
                            {% if message.sender == 'user' %}
                                Пользователь
                            {% else %}
                                Админ
                            {% endif %}
                            - {{ message.created }}
                        </a>
                        <p>{{ message.content }}</p>
                        {% if message.image %}
                          <a href="{{message.image.url}}">Файл</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if ticket.is_open %}
                <div id="block">
                    <form method="post" enctype="multipart/form-data">
                        <div class="d-flex justify-content-left">
                            <div class="input-group">
                                <input type="text" class="form-control" name="msg" placeholder="Сообщение"/>
                                <input type="file" class="form-control-file p-2" name="file">
                                <input type="submit" id="button-addon1" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
