{% extends 'base.html' %}

{% block content %}
    <style>
        .form-container {
            display: flex;
            flex-wrap: wrap;
            margin-left: 2%;
        }

        .form-column {
            flex: 1;
            min-width: 300px;
            padding: 10px;
        }

        .form-column input {
            width: 50%;
            padding: 8px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        .form-column label {
            display: block;
            margin-bottom: 5px;
        }

        .btn-container {
            width: 100%;
            margin-top: 20px;
            margin-left: 1%;
        }
    </style>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h2>Подключение физического воркера для пользователя: {{ user.email }}</h2>
    <form method="post">
        <div class="form-container">
            <div class="form-column">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="miner_id">ID Воркера</label>
                    <input type="text" class="form-control" id="miner_id" name="miner_id">
                </div>
                <div class="form-group">
                    <label for="miner_item_id">ID Товара</label>
                    <input type="text" class="form-control" id="miner_item_id" name="miner_item_id">
                </div>
            </div>
            <div class="btn-container">
                <button class="btn btn-success rounded-pill px-3" type="submit">Создать</button>
            </div>
        </div>
    </form>
{% endblock %}